<main role="main">
  <p id="notice" class = "h2"><%= flash[:notice] %></p>
  <%= render "games/list" %>
  <div class="py-5 list">
    <div class="container">

      <div class="row">
        <% @games.each do |game| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= attachment_image_tag game, :image, size:'349x349', format:'jpg', fallback:"default-image.jpg" %>
              <div class="card-body">
                <h6 class = "card-text"><%= game.title %></h6>
                <p class="card-text"><%= game.body %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "/games/<%= game.id %>">View</a></button>
                    <% if game.user == current_user %>
                      <button type = "button" class="btn btn-sm btn-outline-secondary"><a href = "/games/<%= game.id %>/edit">Edit</a></button>
                      <button type = "button" class = "btn btn-sm btn-outline-secondary"><a data-method="delete" data-confirm="本当に消しますか？" href = "/games/<%= game.id %>">Destroy</a></button>
                    <% end %>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</main>