<div class = "container">
  <% if @game.errors.any? %>
    <%= @game.errors.count %> errors prohibited this book from being saved:
    <ul>
      <div class = "errors_message">
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </ul>
  <% end %>
</div>
<div class = "text-center p-5">
  <%= form_with model: @game, local:true do |f| %>
    <h1 class="h3 mb-3 font-weight-bold">Please post</h1>
    <div class = "border bg-white border-info border-5 m-auto" style="width: 400px;">
      <div class = "form-group">
        <h4>Image</h4>
      </div>
      <%= f.attachment_field :image %>
      <div class = "form-group field">
        <%= f.label :title, "Game Title" %><br>
        <%= f.text_field :title, :size => "30" %>
      </div>
      <div class = "form-group">
        <%= f.label :body, "Introduction" %><br>
        <%= f.text_area :body, :size => "30x2" %>
      </div>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary mb-3" type="submit">投稿</button>
    </div>
  <% end %>
</div>